extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholde="search..." name="geolocate")
      #map
        p loading map...
